/* Import Google Roboto Font from https://fonts.google.com/specimen/Roboto?query=roboto&sidebar.open=true&selection.family=Roboto:wght@100 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body,
button {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

html {
    min-height: 100%;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    background: nth(#EB3349, 1);
    background: linear-gradient(to bottom, #EB3349, #fd8471);
}

#Grid {
    margin: 4px;
    padding: 5px;
    min-height: 300px;
    width: 80%;
    padding-left: 10%;
    display: flex;
    background-color: transparent;
    cursor: crosshair;
    /* box-shadow: 0 8px 50px -7px black; */
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    flex: 1;
    transition: background-color 0.2s;
    margin: 2px;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.2);
}

.row:hover {
    background-color: #FFF;
    box-shadow: 0 0 5px #FFF;
    color: white;
    cursor: crosshair;
}

.active {
    /* background: #ff9152; */
    background-color: #FFF;
    border: none;
    transition: all 0.1s;
    box-shadow: 0 0 5px #FFF;
    animation-delay: 0.5s;
}

.active1 {
    background-color: #FFF;
    box-shadow: 0 0 5px #FFF;
    transition: all 0.5s;
}

.play {
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 100px;
    background-color: transparent;
    border-style: solid;
    border-color: #FFF;
    border-radius: 10px;
    color: white;
    align-self: center;
}

.play:hover {
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
}

.play:active {
    background-color: #FFF;
    transform: translateY(4px);
    outline: none;

}

.controls {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}